<nav style="width: 88%" class="px-2 mt-4 d-flex flex-wrap justify-content-between" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            <%= user.firstName+" "+user.lastName %>
        </li>
    </ol>

    <p class=" ">
        <span class=" fw-medium fs-6">Id :</span>
                <%= user.id %>
                    </p>
</nav>